$color-main: #03AE66;
$color-btn-hover: #02BF70;
$color-btn-disable: #E0E0E0;
$color-text-disable: #A6A6A6;
$color-active: #0DD469;
$color-row-focus: #CCE8FF;
$color-hover: #E5F3FF;
$color-link: #0997EB;
$color-icon-hover: #FA3939;
$color-bg-sidebar: #24344B;
$color-bg: #EAECEF;
$color-gradient: linear-gradient(90deg, rgba(3,197,115,1) 0%, rgba(0,146,83,1) 100%);
$color-header-grid: #F5F6FA;
$color-line-grid: #D5D8E6;
$color-white: #ffff;
$color-black: #444;
$color-gray: #B1B1B1;
$color-tooltip: #4D4F5C;
$color-red: #ED1C24;
$color-red-brown: #b0241f;